@font-face {
    font-family: "Oxanium";
    src: url("./assets/Oxanium-VariableFont_wght.ttf") format("truetype supports variations"),
        url("./assets/Oxanium-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

body {
    min-height: 100vh;
    background-image: url(./assets/background.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Oxanium", sans-serif;
    overflow-y: scroll;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

header nav {
    display: flex;
    gap: 1rem;
}

header,
main {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40rem;
    padding: 2rem;
}

nav button {
    padding: 0.6rem 1.5rem;
    background-color: rgb(136, 204, 228);
    border: none;
    border-radius: 5px;
}

nav button:hover {
    background-color: rgb(146, 214, 238);
}

nav button:active {
    background-color: rgb(156, 224, 248);
}

header h1 {
    color: rgb(136, 204, 228);
    font-size: 2.5rem;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-top: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}

.price {
    font-weight: bold;
    align-self: flex-end;
}